<a href="https://colab.research.google.com/github/11jolek11/BigDataHCVproject/blob/main/BigDataHCV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# /content/drive/MyDrive/Colab Notebooks/datasets/hcvdat0.csv

In [12]:
import pandas as pd
import seaborn as sns
import sklearn
from sklearn.preprocessing import LabelEncoder

In [23]:
hcv = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/datasets/hcvdat0.csv', header=0)
hcv.dropna(how="any", inplace=True)
hcv_target = hcv["Category"]
hcv.drop(columns=["Category", 'Unnamed: 0'], inplace=True)

In [25]:
hcv

     Age Sex   ALB    ALP   ALT    AST   BIL    CHE  CHOL   CREA    GGT  PROT
0     32   m  38.5   52.5   7.7   22.1   7.5   6.93  3.23  106.0   12.1  69.0
1     32   m  38.5   70.3  18.0   24.7   3.9  11.17  4.80   74.0   15.6  76.5
2     32   m  46.9   74.7  36.2   52.6   6.1   8.84  5.20   86.0   33.2  79.3
3     32   m  43.2   52.0  30.6   22.6  18.9   7.33  4.74   80.0   33.8  75.7
4     32   m  39.2   74.1  32.6   24.8   9.6   9.15  4.32   76.0   29.9  68.7
..   ...  ..   ...    ...   ...    ...   ...    ...   ...    ...    ...   ...
608   58   f  34.0   46.4  15.0  150.0   8.0   6.26  3.98   56.0   49.7  80.6
609   59   f  39.0   51.3  19.6  285.8  40.0   5.77  4.51  136.1  101.1  70.5
610   62   f  32.0  416.6   5.9  110.3  50.0   5.57  6.30   55.7  650.9  68.5
611   64   f  24.0  102.8   2.9   44.4  20.0   1.54  3.02   63.0   35.9  71.3
612   64   f  29.0   87.3   3.5   99.0  48.0   1.66  3.63   66.7   64.2  82.0

[589 rows x 12 columns]